@font-face {
    font-family: "Epistolar";
    src: url('../fonts/Epistolar/Epistolar.woff');
    font-weight:400;
}

@font-face {
    font-family: "1550";
    src: url('../fonts/1550/1550.ttf');
    font-weight:400;
}

@font-face {
    font-family: "Fishfingers";
    src: url('../fonts/fishfingers/Fishfingers.ttf');
    font-weight:400;
}

@font-face {
    font-family: "No_Color";
    src: url('../fonts/no_color/No_Color.ttf');
    font-weight:400;
}

body {
	font-family: "1550", sans-serif;
	color: #C1BE97;
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
}

h1 {
	font-family: "Epistolar", sans-serif;
	font-size: 5em;
}

h2 {
	font-family: "No_Color", sans-serif;
	font-size: 3em;
}

h3 {
	font-family: "Fishfingers", sans-serif;
	font-size: 3em;
}


/* container capa */
.moldura {
	position: absolute;
	width: 100%;
	height: 100%;
	-moz-box-shadow:inset -8px 1px 40px #FFFDF6;
	-webkit-box-shadow:inset -8px 1px 40px #FFFDF6;
	box-shadow:inset -8px 1px 40px #FFFDF6;
}


/*logo intro*/
.logo_intro {
	font-size: 180%;
	margin: 0 auto;
	margin-top: 15%;
	text-align: center;
	text-shadow: -2px 3px 20px #FFFDF6;
	-webkit-animation: cssAnimation 2.6416s 1 ease-in;
	-moz-animation: cssAnimation 2.6416s 1 ease-in;
	-o-animation: cssAnimation 2.6416s 1 ease-in;
}
.logo_intro h1 {
	line-height: 0.8em;
}

.logo_intro h2 {
	font-family: "Epistolar", sans-serif;
	font-size: 5em;
	line-height: 0.8em;
	margin-left: 5%;
}

.capa {
	background: url('../imgs/bg/bg_orixas.png') 10% 20%;
	width: 100%;
	height: 100%;
	position: absolute;
}

.ifa {
	background: url('../imgs/ifa.png') no-repeat -50% -33%;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}


/* animations logo */
@-webkit-keyframes cssAnimation {
from { -webkit-transform: rotate(0deg) scale(0.5) skew(-180deg) translate(0px); }
to { -webkit-transform: rotate(0deg) scale(1.0) skew(-180deg) translate(0px); }
}
@-moz-keyframes cssAnimation {
from { -moz-transform: rotate(0deg) scale(0.5) skew(-180deg) translate(0px); }
to { -moz-transform: rotate(0deg) scale(1.0) skew(-180deg) translate(0px); }
}
@-o-keyframes cssAnimation {
from { -o-transform: rotate(0deg) scale(0.5) skew(-180deg) translate(0px); }
to { -o-transform: rotate(0deg) scale(1.0) skew(-180deg) translate(0px); }
}