/** Contos de Ifá****/
html {
	overflow-y: hidden;
}
html, body {
	line-height: 1;
	min-height:100%;
	overflow: visible;
	cursor: auto;
}

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
	background-color:#FFF; /* change if the mask should have another color then white */
    z-index:9999; /* makes sure it stays on top */
}

/* tipos */
@font-face {
    font-family: "Epistolar";
    src: url('../fonts/Epistolar/Epistolar.woff');
    font-weight:400;
}

@font-face {
    font-family: "1550";
    src: url('../fonts/1550/1550.ttf');
    font-weight:400;
}

@font-face {
    font-family: "Fishfingers";
    src: url('../fonts/fishfingers/Fishfingers.ttf');
    font-weight:400;
}

@font-face {
    font-family: "No_Color";
    src: url('../fonts/no_color/No_Color.ttf');
    font-weight:400;
}

/* formatação */
h1 {
	font-family: "Epistolar", sans-serif;
	font-size: 5em;
}

h2 {
	font-family: "No_Color", sans-serif;
	font-size: 3em;
	
}

h3 {
	font-family: "Fishfingers", sans-serif;
	font-size: 2em;
	
}

h4 {
	font-family: "1550", sans-serif;
	font-size: 1em;
	
}

/* elementos */
body {
	font-family: "1550", sans-serif;
	color: #FFF;
	background-size: cover;
	background-color: #FFF;
}

.audio {
	display: none;
}

/* container e capa */
.container { margin-left: -10px;}


/* imagens */

.ifa img {
	width: 130%;
}


/* intro */

#intro_setas {
  background-image: url('../imgs/scroll.png');
  background-repeat: no-repeat;
  position: fixed;
  left: 0px;
  width: 100%;
  height: 14%;
  background-size: auto auto;
  bottom: 0px;
  background-position: 50% 22%;
  z-index: 9999;
}

#caminho {
	background-image: url('../imgs/bg.jpg');
	background-repeat: no-repeat;
	background-size: 150%;
	background-position: 0% 0%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#folha01 {
	background-image: url('../imgs/folha_topo_direita.png');
	background-repeat: no-repeat;
	background-position: 0% 200%;
	background-size: 48%;
	position: fixed;
	z-index: 3;
	/*top:0%;
	left: 7%;*/
	width: 100%;
	height: 100%;
}

#folha02 {
	background-image: url('../imgs/folha_topo_esquerda.png');
	background-repeat: no-repeat;
	background-position: 21% 350%;
	background-size: 50%;
	position: fixed;
	z-index: 4;
	/*top:0%;
	left: 7%;*/
	width: 100%;
	height: 100%;
}


#obaluaye {
	background-image: url('../imgs/obaluaye.png');
	background-repeat: no-repeat;
	background-position: 10% 60%;
	background-size: 30%;
	position: fixed;
	z-index: 2;
	/*top:0%;
	left: 7%;*/
	width: 100%;
	height: 100%;
}

#oya {
	background-image: url('../imgs/oya.png');
	background-repeat: no-repeat;
	background-position: 10% 60%;
	background-size: 16%;
	position: fixed;
	z-index: 2;
	/*top:0%;
	left: 7%;*/
	width: 100%;
	height: 100%;
}

#ogun {
	background-image: url('../imgs/ode/ogun.png');
	background-repeat: no-repeat;
	background-position: 100% 60%;
	background-size: 28%;
	position: fixed;
	z-index: 2;
	/*top:0%;
	left: 7%;*/
	width: 100%;
	height: 100%;
}

#arvore {
	background-image: url('../imgs/arvore_frente.png');
	background-repeat: no-repeat;
	background-position: 260% 105%;
	background-size: 70%;
	position: fixed;
	z-index: 1;
	/*top:0%;
	left: 7%;*/
	width: 100%;
	height: 100%;
}

#oba_abertura {
	font-size: 3.5em;
	width: 300%;
	margin: 0 auto;
	top: 8%;
	right: -100%;
	text-align: center;
	position: fixed;
	z-index: 21;
	padding-left: 20px;
	text-shadow: 2px 2px 23px #000000;
}

#oba_missao {
	font-size: 3.5em;
	width: 200%;
	margin: 0 auto;
	top: 8%;
	right: -100%;
	text-align: center;
	position: fixed;
	z-index: 21;
	padding-left: 20px;
	text-shadow: 2px 2px 23px #000000;
}

#oba_explica {
	font-size: 3.5em;
	width: 75%;
	margin: 0px auto;
	top: 100%;
	right: 15%;
	text-align: center;
	position: fixed;
	z-index: 21;
	color: #FFF;
	padding-left: 0px;
	text-shadow: 2px 2px 23px #000;
}

#festa {
	background-image: url('../imgs/bg_orixas.png');
	background-repeat: repeat;
	background-position: 0% 0%;
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-size: cover;
}

#final_game {
	background-image: url('../play/images/screenshot.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0% 0%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-size: cover;
}

#intro {
	color: #FFF;
	cursor: pointer;
	font-size: 3.5em;
	opacity: 1;
	padding: 120px;
	text-align: center;
	z-index: 9999;
	width: 100%;
	height: 100%;
	position: fixed;
	text-shadow: 3px 6px 3px rgba(255, 107, 107, 0.76); 
}
#intro h2, h3 {
  opacity:1;
}

#intro h2 a {
  color: #fff;
}


#ode_falafinal {
	font-size: 3.5em;
	width: 50%;
	margin: 0 auto;
	top: 100%;
	right: 24%;
	text-align: center;
	position: fixed;
	z-index: 21;
	color: rgba(15, 249, 0, 1);
	padding-left: 0px;
	text-shadow: 2px 2px 23px #33ADFF;
}

#pano_obaluaye {
	width: 100%;
	height: 100%;
	position: fixed;
	top: -100%;
	left: 0px;
	background-image: url('../imgs/bg_omolu.jpg');
	background-repeat: repeat;
	background-position: 0px 0px;
	z-index: 3;
}

#maoX {
	background-image: url('../imgs/mao/mao1.png');
	background-repeat: no-repeat;
	background-position: 100% 60%;
	background-size: auto;
	position: fixed;
	z-index: 21;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#maoY {
	background-image: url('../imgs/mao/mao2.png');
	background-repeat: no-repeat;
	background-position: 100% 60%;
	background-size: auto;
	position: fixed;
	z-index: 21;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
#maoZ {
	background-image: url('../imgs/mao/mao3.png');
	background-repeat: no-repeat;
	background-position: 100% 60%;
	background-size: auto;
	position: fixed;
	z-index: 21;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#buzios {
	background-image: url('../imgs/buzios/aberto2.png');
	background-repeat: no-repeat;
	background-position: 84% 87%;
	background-size: auto auto;
	position: fixed;
	z-index: 21;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
#oba_txt {
	font-size: 2.5em;
	width: 75%;
	margin: 0px auto;
	top: 0;
	text-align: center;
	position: fixed;
	z-index: 22;
	padding-left: 20px;
}
#oba_txt h2 {
	text-shadow: 8px 10px 15px rgba(191, 191, 191, 1); 
	margin-top: 0.5em;
}

#oba_txt h3 {
	text-shadow: 2px 2px 23px #FFF;
}

#oba_meji {
	font-size: 3em;
	width: 50%;
	margin: 0 auto;
	top: 8%;
	text-align: center;
	position: fixed;
	z-index: 21;
	padding-left: 20px;
}

#oba_meji h4 {
	text-shadow: 2px 2px 23px #000000;
}


#ode_familia {
	background-image: url('../imgs/ode/familia.png');
	background-repeat: no-repeat;

	background-position: 0% 0%;
	background-size: 10%;
	position: fixed;
	z-index: 3;
	width: 100%;
	height: 100%;
}
#ode_irmaos {
	background-image: url('../imgs/ode/os_irmaos.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 10%;
	position: fixed;
	z-index: 3;
	width: 100%;
	height: 100%;
}
#ode_irmaos2 {
	background-image: url('../imgs/ode/irmaos2.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 10%;
	position: fixed;
	z-index: 3;
	width: 100%;
	height: 100%;
}



#macaco {
	background-image: url('../imgs/exu/macaco.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 10%;
	position: fixed;
	z-index: 2;
	/*top:0%;
	left: 7%;*/
	width: 100%;
	height: 100%;
	-webkit-transform:scaleX(-1);
    -moz-transform:scaleX(-1);
    -ms-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}

#chamada_macaco {
	font-size: 2.5em;
	width: 100%;
	margin: 0 auto;
	top: 8%;
	right: -100%;
	text-align: center;
	position: fixed;
	z-index: 2;
	padding-left: 20px;
	text-shadow: 2px 2px 23px #000000;
}

#fala_macaco {
	font-size: 2.5em;
	width: 50%;
	margin: 0 auto;
	top: 100%;
	right: 24%;
	text-align: center;
	position: fixed;
	z-index: 1;
	color: #E6E9E9;
	padding-left: 0px;
	text-shadow: 2px 2px 23px #000;
}

#saida_exu {
	font-size: 2.5em;
	width: 100%;
	margin: 0 auto;
	top: 8%;
	right: -100%;
	text-align: center;
	position: fixed;
	z-index: 2;
	padding-left: 20px;
	text-shadow: 2px 2px 23px #000000;
}

#final_exu {
	font-size: 2.5em;
	width: 130%;
	margin: 0 auto;
	top: 18%;
	right: -130%;
	text-align: center;
	position: fixed;
	z-index: 2;
	padding-left: 20px;
	text-shadow: 2px 2px 23px #000000;
}

#recado_orixas {
	font-size: 2.5em;
	width: 50%;
	margin: 0 auto;
	top: 100%;
	right: 24%;
	text-align: center;
	position: fixed;
	z-index: 1;
	color: #F2F2F2;
	padding-left: 0px;
	text-shadow: 2px 2px 23px #333;
}
#ifa {
	position: fixed;
	top: 0%;
	left: 38%;
	width: 100%;
	height: 100%;
	z-index: 6;
	-webkit-transform: scale(1) rotate(0deg);
}

#ifa img, #ifa_exu img, #ifa_ogun img, #ifa_oxossi img {
	width: 100%;
}
#ifa_exu, #ifa_ogun, #ifa_oxossi {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 7;
	-webkit-transform: scale(1) rotate(0deg);
}

#final_okaranmeji {
	font-size: 3.5em;
	width: 130%;
	margin: 0 auto;
	top: 20%;
	right: -130%;
	text-align: center;
	position: fixed;
	z-index: 4;
	padding-left: 20px;
	text-shadow: 2px 2px 23px #000000;
}

#okaranmeji {
	background-image: url('../imgs/exu/okaran_meji.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 10%;
	position: fixed;
	z-index: 4;
	/*top:0%;
	left: 7%;*/
	width: 100%;
	height: 100%;
}





#ogun_game {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0%;
	left: 0%;
	background-image: url('../imgs/ogum/bg_ogum.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px 0px;
	/*cursor: url('../imgs/exu/mao.gif'), auto;*/
	z-index: 1;
}

#lagoa1 {
	background-image: url('../imgs/ogum/lagoa_dir.png');
	background-repeat: no-repeat;
	background-size: 37%;
	position: fixed;
	z-index: 3;
	top: 62%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#lagoa2 {
	background-image: url('../imgs/ogum/lagoa_esq.png');
	background-repeat: no-repeat;
	background-size: 37%;
	position: fixed;
	z-index: 4;
	top: 60%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#cachoeira {
	background-image: url('../imgs/ogum/cachoeira.png');
	background-repeat: no-repeat;
	background-size: 29%;
	position: fixed;
	z-index: 4;
	top: 40%;
	left: 71%;
	width: 100%;
	height: 100%;
}
#grama1 {
	background-image: url('../imgs/ogum/grama1.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 100%;
	position: fixed;
	z-index: 4;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
#grama2 {
	background-image: url('../imgs/ogum/grama2.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 45%;
	position: fixed;
	z-index: 4;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
#man1 {
	background-image: url('../imgs/ogum/man01.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 10%;
	position: fixed;
	z-index: 4;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
#man2 {
	background-image: url('../imgs/ogum/man02.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 10%;
	position: fixed;
	z-index: 4;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#cabaca {
	background-image: url('../imgs/ogum/cabaca.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 10%;
	position: fixed;
	z-index: 2;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}


#peixe {
	background-image: url('../imgs/ogum/peixe_principal.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 22%;
	position: fixed;
	z-index: 2;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#ogum {
	background-image: url('../imgs/ogum/ogum_.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 34%;
	position: fixed;
	z-index: 2;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#humanos_no_lago, #ogum_pergunta {
	font-size: 2.5em;
	width: 100%;
	margin: 0 auto;
	top: 8%;
	right: -100%;
	text-align: center;
	position: fixed;
	z-index: 4;
	padding-left: 0px;
	text-shadow: 2px 2px 23px #000000;
}

#humanos_no_lago2 {
	font-size: 2.5em;
	width: 200%;
	margin: 0 auto;
	top: 8%;
	right: -200%;
	text-align: center;
	position: fixed;
	z-index: 4;
	padding-left: 0px;
	text-shadow: 2px 2px 23px #000000;
}

#humanos_no_lago3 {
	font-size: 2.5em;
	width: 200%;
	margin: 0 auto;
	top: 8%;
	right: -200%;
	text-align: center;
	position: fixed;
	z-index: 4;
	padding-left: 0px;
	text-shadow: 2px 2px 23px #000000;
}

#ogum_fala, #ogum_fala2 {
	font-size: 2.5em;
	width: 50%;
	margin: 0 auto;
	top: 100%;
	right: 24%;
	text-align: center;
	position: fixed;
	z-index: 21;
	color: #2000b9;
	padding-left: 0px;
	text-shadow: 2px 2px 23px #00F0F0;
}

#ogum_fala2 {
	font-size: 2.5em;
	width: 50%;
	margin: 0 auto;
	top: 100%;
	right: 24%;
	text-align: center;
	position: fixed;
	z-index: 21;
	color: #FFF;
	padding-left: 0px;
	text-shadow: 2px 2px 23px #00F0F0;
}


#game {
	position: fixed;
	top: 14%;
	left: 25%;
	z-index: 4;
}

#ogum_social {
	width: 100%;
	margin: 0 auto;
	top: 25%;
	right: 0%;
	position: fixed;
	text-align: center;
	color: #FF0000;
	padding-left: 0px;
	text-shadow: 2px 2px 23px #000000;
	display: none;
	z-index: 5;
}

/* Oxossi */

#pano_oxossi {
	width: 100%;
	height: 100%;
	position: fixed;
	top: -100%;
	left: 0px;
	background-image: url('../imgs/bg/bg_oxossi.jpg');
	background-repeat: repeat;
	background-position: 0px 0px;
	z-index: 5;
}

/* Side Menu */

#sidebar-wrapper {
  margin-right: -60px;
  right: 60px;
  width: 60px;
  /*background: #000;*/
  /*background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.22);*/
    background: url('../../../img/help.png') no-repeat scroll 40% 95% rgba(0, 0, 0, 0.22);
  position: fixed;
  height: 103%;
  overflow-y: auto;
  z-index: 9999;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-box-shadow: 3px 0px 36px -1px rgba(0,0,0,0.75);
  -moz-box-shadow:  3px 0px 36px -1px rgba(0,0,0,0.75);
  box-shadow:  3px 0px 36px -1px rgba(0,0,0,0.75);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0px;
  right: 0px;
  position: fixed;
  z-index: 9998;
  color: #FFF;
  font-size: 3em;
  display: none;
}

#sidebar-wrapper.active {
  right: 0px;
  width: 60px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

.btn-lg {
    font-size: 2.3em;
    color: #FFF;
}