**Contos de Ifá****/

html, body {
	line-height: 1;
	min-height:100%;
	overflow-x: hidden;
}

/* tipos */
@font-face {
    font-family: "Epistolar";
    src: url('../fonts/Epistolar/Epistolar.woff');
    font-weight:400;
}

@font-face {
    font-family: "1550";
    src: url('../fonts/1550/1550.ttf');
    font-weight:400;
}

@font-face {
    font-family: "Fishfingers";
    src: url('../fonts/fishfingers/Fishfingers.ttf');
    font-weight:400;
}

@font-face {
    font-family: "No_Color";
    src: url('../fonts/no_color/No_Color.ttf');
    font-weight:400;
}

/* formatação */
h1 {
	font-family: "Epistolar", sans-serif;
	font-size: 5em;
}

h2 {
	font-family: "No_Color", sans-serif;
	font-size: 3em;
	
}

h3 {
	font-family: "Fishfingers", sans-serif;
	font-size: 2em;
	
}

#exu_txt h2 {
	text-shadow: 8px 10px 15px #ff0000;
	margin-top: 0.5em;
}

#exu_txt h3 {
	text-shadow: 2px 2px 23px #ffffff;
}

/* elementos */
body {
	font-family: "1550", sans-serif;
	color: #FFF;
	background-size: cover;
	background-color: #000;
}


/* container e capa */
.container { margin-left: -10px;}
/*.capa {
		background: url("../imgs/bg/bg2.jpg") 0% 0%;
		background-size: cover;
		min-height: 1383px;
}*/

/*logo intro*/



/*.capa {
	background: url('../imgs/bg/bg_orixas.png') 10% 20%;
	width: 100%;
	height: 100%;
	position: absolute;
}*/
/*
.ifa {
	background: url('../imgs/ifa.png') no-repeat 0% 0%;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: fixed;
	top: 40%;
	left: 30%;
	z-index: 10;
	text-align: center;
}*/


.capitulo {
	font-size: 2.5em;
	width: 45%;
	margin: 0 auto;
	top: 140%;
	text-align: center;
	position: absolute;
	z-index: 2;
	padding-left: 20px;
}

/*.fundo_capitulo {
	background: url('../imgs/bg/bg_jeje.jpg');
	width:100%;
	min-height: 130%;
	z-index: 1;
	position: absolute;
	top:180%;
}*/

/* imagens */

.ifa img {
	width: 130%;
}


/* intro */

#intro_setas {
	background-image: url('../imgs/intro/setas.png');
	background-repeat: no-repeat;
	background-position: 50% 10%;
	background-size: 15%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#bigbang_power {
	width:100%;
	height:100%;
	background:
		radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #723411 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
		radial-gradient(at 100% 100%,     rgba(96, 16, 48, 0) 9px, #724113 10px, rgba(96, 16, 48, 0) 11px), #C1FD00;
	background-size: 20px 20px;
}

#intro_ceu {
	background-image: url('../imgs/intro/ceu.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 0%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#intro_raiz {
	background-image: url('../imgs/intro/raiz.png');
	background-repeat: no-repeat;
	background-position: 0px 1000px;
	background-size: cover;
	position: fixed;
	z-index: 20;
	top: 1500px;
	left: 0;
	width: 100%;
	height: 100%;
}

#intro_baoba {
	background-image: url('../imgs/intro/baoba.png');
	background-repeat: no-repeat;
	background-position: 0px 500px;
	background-size: cover;
	position: fixed;
	z-index: 20;
	top: 1500px;
	left: 0;
	width: 100%;
	height: 100%;
}

#intro_nuvem1 {
	background-image: url('../imgs/intro/nuvens.png');
	background-repeat: no-repeat;
	background-size: 40%;
	position: fixed;
	z-index: 10;
	top: 4%;
	left: -30%;
	width: 100%;
	height: 100%;
}

#intro_nuvem2 {
	background-image: url('../imgs/intro/nuvens1.png');
	background-repeat: no-repeat;
	background-size: 40%;
	position: fixed;
	z-index: 11;
	top: 30%;
	left: -40%;
	width: 100%;
	height: 100%;
}

#intro_horizonte {
	background-image: url('../imgs/intro/chao_horizonte.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0% 300%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 15;
	width: 100%;
	height: 100%;
}

#intro_logo {
	font-size: 2.5em;
	width: 100%;
	margin: 0 auto;
	margin-top: 10%;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 20;
	text-shadow: -2px 3px 20px #FFFDF6;
	/*-webkit-animation: logoAnimation 2.6416s 1 ease-in;
	-moz-animation: logoAnimation 2.6416s 1 ease-in;
	-o-animation: logoAnimation 2.6416s 1 ease-in;*/
}
#intro_logo h1 {
	line-height: 0.8em;
}

#intro_logo h2 {
	font-family: "Epistolar", sans-serif;
	font-size: 5em;
	line-height: 0.8em;
	margin-left: 5%;
}

#intro_breve {
	font-size: 2.5em;
	width: 100%;
	height: 100%;
	text-align: center;
	position: fixed;
	top: -1000px;
	left: 0px;
	background: #000;
	z-index: 20;
	text-shadow: -2px 3px 20px #FFFDF6;
}

#intro_breve h1 {
	top: 20%;
	position: relative;
}

#intro_breve h3 {
	text-shadow: none;
	font-size: 1em;
	top: 20%;
	position: relative;
}

/* Stage 1 - Exu */

#pano_exu {
	width: 100%;
	height: 100%;
	position: fixed;
	top: -1000px;
	left: 0px;
	background-image: url('../imgs/bg/bg_exu.jpg');
	background-repeat: repeat;
	background-position: 0px 0px;
	z-index: 20;
}

#ifa {
	/*background-image: url('../imgs/ifa/ifa.png');*/
	/*background-repeat: no-repeat;*/
	/*background-position: 500px -13px;*/
	position: fixed;
	top: 0%;
	left: 38%;
	width: 100%;
	height: 100%;
	z-index: 30;
	-webkit-transform: scale(1) rotate(0deg);
}

#ifa img, #ifa_exu img {
	width: 100%;
}
#ifa_exu {
/*	background-image: url('../imgs/ifa/ifa_exu.png');
	background-repeat: no-repeat;
	background-position: 50% 0%;*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 31;

}

#exu_txt {
	font-size: 2.5em;
	width: 50%;
	margin: 0 auto;
	top: 8%;
	text-align: center;
	position: fixed;
	z-index: 20;
	padding-left: 20px;
}

/* animations logo */
/*@-webkit-keyframes logoAnimation {
from { -webkit-transform: rotate(0deg) scale(0.5) skew(-180deg) translate(0px); }
to { -webkit-transform: rotate(0deg) scale(1.0) skew(-180deg) translate(0px); }
}
@-moz-keyframes logoAnimation {
from { -moz-transform: rotate(0deg) scale(0.5) skew(-180deg) translate(0px); }
to { -moz-transform: rotate(0deg) scale(1.0) skew(-180deg) translate(0px); }
}
@-o-keyframes logoAnimation {
from { -o-transform: rotate(0deg) scale(0.5) skew(-180deg) translate(0px); }
to { -o-transform: rotate(0deg) scale(1.0) skew(-180deg) translate(0px); }
}