/** Contos de Ifá****/
html {
	overflow-y: hidden;
}
html, body {
	line-height: 1;
	min-height:100%;
	overflow: visible;
	cursor: auto;
}
#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
	background-color:#FF0000; /* change if the mask should have another color then white */
    z-index:9999; /* makes sure it stays on top */
}
/* tipos */
@font-face {
    font-family: "Epistolar";
    src: url('../fonts/Epistolar/Epistolar.woff');
    font-weight:400;
}

@font-face {
    font-family: "1550";
    src: url('../fonts/1550/1550.ttf');
    font-weight:400;
}

@font-face {
    font-family: "Fishfingers";
    src: url('../fonts/fishfingers/Fishfingers.ttf');
    font-weight:400;
}

@font-face {
    font-family: "No_Color";
    src: url('../fonts/no_color/No_Color.ttf');
    font-weight:400;
}

/* formatação */
h1 {
	font-family: "Epistolar", sans-serif;
	font-size: 5em;
}

h2 {
	font-family: "No_Color", sans-serif;
	font-size: 3em;
	
}

.desc {
	font-size: 1.5em;
}

.play {
	color: #FFF;
}

.play:hover {
	color: #FF0000;
}

h3 {
	font-family: "Fishfingers", sans-serif;
	font-size: 2em;
	
}

h4 {
	font-family: "1550", sans-serif;
	font-size: 1em;
	
}

/* elementos */
body {
	font-family: "1550", sans-serif;
	color: #FFF;
	background-size: cover;
	background-color: #FF0000;
}

.audio {
	display: none;
}

/* container e capa */
.container { margin-left: -10px;}
/*.capa {
		background: url("../imgs/bg/bg2.jpg") 0% 0%;
		background-size: cover;
		min-height: 1383px;
}*/

/*logo intro*/



/*.capa {
	background: url('../imgs/bg/bg_orixas.png') 10% 20%;
	width: 100%;
	height: 100%;
	position: absolute;
}*/
/*
.ifa {
	background: url('../imgs/ifa.png') no-repeat 0% 0%;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: fixed;
	top: 40%;
	left: 30%;
	z-index: 10;
	text-align: center;
}*/


.capitulo {
	font-size: 2.5em;
	width: 45%;
	margin: 0 auto;
	top: 140%;
	text-align: center;
	position: absolute;
	z-index: 2;
	padding-left: 20px;
}

/*.fundo_capitulo {
	background: url('../imgs/bg/bg_jeje.jpg');
	width:100%;
	min-height: 130%;
	z-index: 1;
	position: absolute;
	top:180%;
}*/

/* imagens */

.ifa img {
	width: 130%;
}


/* intro */

/*#intro_setas {
    background-image: url('../imgs/intro/scroll.png');
    background-repeat: no-repeat;
    position: fixed;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: auto auto;
    bottom: 0px;
    background-position: 50% 105%;
}*/
#intro_setas {
  background-image: url('../imgs/intro/scroll.png');
  background-repeat: no-repeat;
  position: fixed;
  left: 0px;
  width: 100%;
  height: 14%;
  background-size: auto auto;
  bottom: 0px;
  background-position: 50% 22%;
  z-index: 9999;
}
#intro_africa {
	background-image: url('../imgs/exu/mapa_africa.jpg');
	background-repeat: no-repeat;
	background-size: 200%;
	background-position: 0% 0%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#bigbang_power {
	width:100%;
	height:100%;
	background:
		radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #723411 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
		radial-gradient(at 100% 100%,     rgba(96, 16, 48, 0) 9px, #724113 10px, rgba(96, 16, 48, 0) 11px), #C1FD00;
	background-size: 20px 20px;
	display: none;
}

#intro_ceu {
	background-image: url('../imgs/intro/ceu.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 0%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#intro_raiz {
	background-image: url('../imgs/intro/raiz.png');
	background-repeat: no-repeat;
	background-position: 0px 1000px;
	background-size: cover;
	position: fixed;
	z-index: 20;
	top: 1500px;
	left: 0;
	width: 100%;
	height: 100%;
}

#intro_baoba {
	background-image: url('../imgs/intro/baoba.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: cover;
	position: fixed;
	z-index: 20;
	top: 100px;
	left: 0;
	width: 100%;
	height: 100%;
}

#intro_nuvem1 {
	background-image: url('../imgs/intro/nuvens.png');
	background-repeat: no-repeat;
	background-size: 40%;
	position: fixed;
	z-index: 10;
	top: 4%;
	left: -30%;
	width: 100%;
	height: 100%;
}

#intro_nuvem2 {
	background-image: url('../imgs/intro/nuvens1.png');
	background-repeat: no-repeat;
	background-size: 40%;
	position: fixed;
	z-index: 11;
	top: 30%;
	left: -40%;
	width: 100%;
	height: 100%;
}

#intro_horizonte {
	background-image: url('../imgs/intro/chao_horizonte.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0% 300%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 15;
	width: 100%;
	height: 100%;
}

#intro_logo {
	font-size: 2.5em;
	width: 100%;
	margin: 0 auto;
	margin-top: 10%;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 20;
	text-shadow: -2px 3px 20px #FFFDF6;
	/*-webkit-animation: logoAnimation 2.6416s 1 ease-in;
	-moz-animation: logoAnimation 2.6416s 1 ease-in;
	-o-animation: logoAnimation 2.6416s 1 ease-in;*/
}
#intro_logo h1 {
	line-height: 0.8em;
}

#intro_logo h2 {
	font-family: "Epistolar", sans-serif;
	font-size: 5em;
	line-height: 0.8em;
	margin-left: 5%;
}

#intro_breve {
	font-size: 2.5em;
	width: 100%;
	height: 100%;
	text-align: center;
	position: fixed;
	top: -1000px;
	left: 0px;
	background: #000;
	z-index: 20;
	text-shadow: -2px 3px 20px #FFFDF6;
}

#intro_breve h1 {
	top: 20%;
	position: relative;
}

#intro_breve h3 {
	text-shadow: none;
	font-size: 1em;
	top: 20%;
	position: relative;
}

/* Stage 1 - Exu */

#pano_exu {
	width: 100%;
	height: 100%;
	position: fixed;
	top: -100%;
	left: 0px;
	background-image: url('../imgs/bg/bg_exu.jpg');
	background-repeat: repeat;
	background-position: 0px 0px;
	z-index: 21;
}

#maoX {
	background-image: url('../imgs/ifa/mao/mao1.png');
	background-repeat: no-repeat;
	background-position: 100% 60%;
	background-size: auto;
	position: fixed;
	z-index: 21;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#maoY {
	background-image: url('../imgs/ifa/mao/mao2.png');
	background-repeat: no-repeat;
	background-position: 100% 60%;
	background-size: auto;
	position: fixed;
	z-index: 21;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
#maoZ {
	background-image: url('../imgs/ifa/mao/mao3.png');
	background-repeat: no-repeat;
	background-position: 100% 60%;
	background-size: auto;
	position: fixed;
	z-index: 21;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#buzios {
	background-image: url('../imgs/ifa/buzios/aberto1.png');
	background-repeat: no-repeat;
	background-position: 84% 87%;
	background-size: auto auto;
	position: fixed;
	z-index: 21;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#ifa {
	/*background-image: url('../imgs/ifa/ifa.png');*/
	/*background-repeat: no-repeat;*/
	/*background-position: 500px -13px;*/
	position: fixed;
	top: 0%;
	left: 38%;
	width: 100%;
	height: 100%;
	z-index: 30;
	-webkit-transform: scale(1) rotate(0deg);
}

#ifa img, #ifa_exu img {
	width: 100%;
}
#ifa_exu {
/*	background-image: url('../imgs/ifa/ifa_exu.png');
	background-repeat: no-repeat;
	background-position: 50% 0%;*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 31;

}

#exu_txt {
    font-size: 2.5em;
    width: 75%;
    margin: 0px auto;
    top: 8%;
    text-align: center;
    position: fixed;
    z-index: 30;
    padding-left: 20px;
}

#exu_txt h2 {
	text-shadow: 8px 10px 15px #ff0000;
	margin-top: 0.5em;
}

#exu_txt h3 {
	text-shadow: 2px 2px 23px #F00;
}

#exu_meji {
	font-size: 3em;
	width: 50%;
	margin: 0 auto;
	top: 8%;
	text-align: center;
	position: fixed;
	z-index: 21;
	padding-left: 20px;
}

#exu_meji h4 {
	text-shadow: 2px 2px 23px #000000;
}

/*#exu_stage {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #000;
	background-repeat: repeat;
	background-position: 0px 0px;
	z-index: 20;
}*/

#exu_casa1 {
	background-image: url('../imgs/exu/casa_funo.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 64%;
	position: fixed;
	z-index: 20;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
#exu_casa2 {
    background-image: url('../imgs/exu/casa_frente.png');
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 81% auto;
    position: fixed;
    z-index: 20;
    top: 21%;
    left: 24%;
    width: 100%;
    height: 100%;
}
#exu_arvore1 {
    background-image: url('../imgs/exu/arvore1.png');
    background-repeat: no-repeat;
    background-size: 50% auto;
    position: fixed;
    z-index: 21;
    left: -40%;
    width: 100%;
    height: 100%;
    bottom: 0%;
}
#exu_arvore2 {
	background-image: url('../imgs/exu/arvore2.png');
	background-repeat: no-repeat;
	background-size: 30%;
	position: fixed;
	z-index: 21;
	top: 0%;
	right: -100%;
	width: 100%;
	height: 100%;
}

#exu_nuvens {
	background-image: url('../imgs/exu/nuvens.png');
	background-repeat: no-repeat;
	background-size: 70%;
	position: fixed;
	z-index: 20;
	top: 4%;
	left: -30%;
	width: 100%;
	height: 100%;
}

#esu {
	background-image: url('../imgs/exu/esu.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	/*background-size: 20%;*/
	position: fixed;
	z-index: 25;
	top:0%;
	width: 100%;
	height: 100%;
	-webkit-transform:scaleX(1);
    -moz-transform:scaleX(1);
    -ms-transform:scaleX(1);
    -o-transform:scaleX(1);
    transform:scaleX(1);
}

#exu_cavalo {
	background-image: url('../imgs/exu/cavalo.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 20%;
	position: fixed;
	z-index: 21;
	top:0%;
	left: 30%;
	width: 100%;
	height: 100%;
}
#exu_familia {
	background-image: url('../imgs/exu/familia.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 10%;
	position: fixed;
	z-index: 21;
	top:0%;
	left: 45%;
	width: 100%;
	height: 100%;
}
#exu_irmaos {
	background-image: url('../imgs/exu/os_irmaos.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 10%;
	position: fixed;
	z-index: 21;
	top:0%;
	left: 55%;
	width: 100%;
	height: 100%;
}
#exu_prego {
	background-image: url('../imgs/exu/prego.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 10%;
	position: fixed;
	z-index: 21;
	top:0%;
	left: 65%;
	width: 100%;
	height: 100%;
}

#exu_questiona {
	font-size: 3.5em;
	width: 100%;
	margin: 0 auto;
	top: 8%;
	right: -100%;
	text-align: center;
	position: fixed;
	z-index: 21;
	padding-left: 20px;
	text-shadow: 2px 2px 23px #000000;
}

#exu_resposta {
	font-size: 3.5em;
	width: 100%;
	margin: 0 auto;
	top: 20%;
	right: -100%;
	text-align: center;
	position: fixed;
	z-index: 21;
	padding-left: 20px;
	text-shadow: 2px 2px 23px #000000;
}

#exu_noite {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 1000px;
	left: 0px;
	background-image: url('../imgs/exu/ceu_noite.jpg');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: cover;
	z-index: 0;
}

#exu_azul1 {
	background-image: url('../imgs/exu/azul01.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 100%;
	position: fixed;
	z-index: 24;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#exu_azul2 {
	background-image: url('../imgs/exu/azul02.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 100%;
	position: fixed;
	z-index: 23;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#exu_azul3 {
	background-image: url('../imgs/exu/azul03.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 100%;
	position: fixed;
	z-index: 22;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#exu_azul4 {
	background-image: url('../imgs/exu/azul04.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 100%;
	position: fixed;
	z-index: 21;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#exu_lua {
	background-image: url('../imgs/exu/lua.png');
	background-repeat: no-repeat;
	background-position: 99% 0%;
	background-size: 40%;
	position: fixed;
	z-index: 20;
	top:0%;
	right: 0%;
	width: 100%;
	height: 100%;
}

#exu_yemanja {
	background-image: url('../imgs/exu/yemanja.png');
	background-repeat: no-repeat;
	background-position: 99% 0%;
	background-size: 20%;
	position: fixed;
	z-index: 23;
	top:0%;
	right: 0%;
	width: 100%;
	height: 100%;
}

#exu_encontra_yemanja {
	font-size: 3.5em;
	width: 100%;
	margin: 0 auto;
	top: 8%;
	right: -100%;
	text-align: center;
	position: fixed;
	z-index: 21;
	padding-left: 0px;
	text-shadow: 2px 2px 23px #000000;
}
#yemanja_fala {
    font-size: 3.5em;
    width: 75%;
    margin: 0px auto;
    top: 100%;
    right: 15%;
    text-align: center;
    position: fixed;
    z-index: 25;
    color: #7FD4D4;
    padding-left: 0px;
    text-shadow: 2px 2px 23px #000;
}

#exu_vermelho1 {
	background-image: url('../imgs/exu/vermelho01.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 100%;
	position: fixed;
	z-index: 24;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#exu_vermelho2 {
	background-image: url('../imgs/exu/vermelho02.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 100%;
	position: fixed;
	z-index: 23;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#exu_vermelho3 {
	background-image: url('../imgs/exu/vermelho03.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 100%;
	position: fixed;
	z-index: 22;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#exu_vermelho4 {
	background-image: url('../imgs/exu/vermelho04.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 100%;
	position: fixed;
	z-index: 21;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#orunga_relampago1 {
	background-image: url('../imgs/exu/relampago01.png');
	background-repeat: no-repeat;
	background-position: 100% 0%;
	background-size: 15%;
	position: fixed;
	z-index: 21;
	top:-100%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#orunga_relampago2 {
	background-image: url('../imgs/exu/relampago02.png');
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: 15%;
	position: fixed;
	z-index: 21;
	top:-100%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#orunga_relampago3 {
	background-image: url('../imgs/exu/relampago03.png');
	background-repeat: no-repeat;
	background-position: 30% 0%;
	background-size: 15%;
	position: fixed;
	z-index: 21;
	top:-100%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#orunga_relampago4 {
	background-image: url('../imgs/exu/relampago04.png');
	background-repeat: no-repeat;
	background-position: 60% 0%;
	background-size: 15%;
	position: fixed;
	z-index: 21;
	top:-100%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#orunga {
	background-image: url('../imgs/exu/orunga.png');
	background-repeat: no-repeat;
	background-position: 10% 0%;
	background-size: 20%;
	position: fixed;
	z-index: 22;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#orunga_fala {
    font-size: 3.5em;
    width: 75%;
    margin: 0px auto;
    top: 100%;
    right: 15%;
    color: #D13328;
    text-align: center;
    position: fixed;
    z-index: 27;
    padding-left: 0px;
    text-shadow: 2px 2px 23px #000;
}

#exu_game {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0%;
	left: 0px;
	background-image: url('../imgs/exu/fundo_game.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px 0px;
	z-index: 26;
}

#orunga_conselho {
	font-size: 3.5em;
	width: auto;
	margin: 0 auto;
	top: 8%;
	right: -100%;
	text-align: center;
	position: fixed;
	z-index: 21;
	padding-left: 0px;
	text-shadow: 2px 2px 23px #000000;
}

/* Okaran Meji Game*/

#exu_stat {
	/*background: #ffffff url("img/trentaquattro.gif") repeat top right;*/
	margin: 0 auto;
	/*border: 5px solid #999999;*/
	width: 600px;
	padding: 20px 50px;
	margin-bottom: 20px;
	margin-top: 20px;
	position: fixed;
	bottom: 0%;
	right: 0%;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	text-align: center;
	z-index: 29;
}
#hit {
	text-decoration: none;
	font-size: 30px;
	background: #FFF;
	padding: 2px 10px;
	color: #FF0000;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	opacity: 0.8;
	filter:alpha(opacity=80);
	z-index: 29;
	position: fixed;
	top: 5%;
	left: 20%;
}
#timer {
	text-decoration: none;
	font-size: 60px;
	background: #FFF500;
	padding: 2px 10px;
	color: #333333;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	opacity: 0.8;
	filter:alpha(opacity=80);
	z-index: 29;
	position: fixed;
	top: 5%;
	left: 45%;
}

#exu_stat a {
	text-decoration: none;
	font-size: 28px;
	background: #CF0000;
	padding: 2px 10px;
	color: #FFF;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	opacity: 0.8;
	filter:alpha(opacity=80);
	z-index: 29;
	position: fixed;
	top: 5%;
	right: 20%;
}

#exu_stat a:hover {
    background: #999999;
    z-index: 29;
}

#exu_container {
	/*background: #ffffff url("img/trentaquattro.gif") repeat top right;*/
	margin: 0 auto;
	/*border: 5px solid #999999;*/
	width: 1000px;
	height: 600px;
	/*position: fixed;*/
	/*top: 0%;*/
	padding: 20px 50px;
	cursor: url('../imgs/exu/mao.gif') 25 31, auto;
	/*-webkit-border-radius: .5em;*/
	/*-moz-border-radius: .5em;*/
	/*border-radius: .5em;*/
	z-index: 28;
}

#exu_message {
	font-size: 2.5em;
	width: 100%;
	margin: 0 auto;
	top: 20%;
	right: 0%;
	text-align: center;
	position: fixed;
	color: #FFF;
	padding-left: 0px;
	text-shadow: 2px 2px 23px #000000;
	display: none;
	z-index: 28;
}

#exu_dende {
	font-size: 2.5em;
	width: 100%;
	margin: 0 auto;
	top: 8%;
	right: 0%;
	text-align: center;
	position: fixed;
	color: #FFF;
	padding-left: 0px;
	text-shadow: 2px 2px 23px #000000;
	display: none;
	z-index: 28;
}

.character {
	/*border: 2px solid #f3f3f3;*/
	width: 95px;
	height: 95px;
	position: absolute;
	display: none;
	/*-webkit-border-radius: .5em;*/
	/*-moz-border-radius: .5em;*/
	/*border-radius: .5em;*/
	cursor: url("../imgs/exu/mao.gif") 25 31, auto;
	z-index: 28;
}
.character:hover {
	opacity: 0.6;
	filter:alpha(opacity=60);
}
.ovo1, .ovo2 {
	background: url("../imgs/exu/ovo.png");
	background-size: 70%;
	background-repeat: no-repeat;
	z-index: 28;
}

.dende1 {
	background: url("../imgs/exu/coco01.png");
	background-repeat: no-repeat;
	background-size: 70%;
	z-index: 28;
}

.dende2 {
	background: url("../imgs/exu/coco02.png");
	background-repeat: no-repeat;
	background-size: 70%;
	z-index: 28;
}

.dende3 {
	background: url("../imgs/exu/coco03.png");
	background-repeat: no-repeat;
	background-size: 70%;
	z-index: 28;
}

#exu_share {

}

#exu_continuar {
	font-size: 2.5em;
	width: 100%;
	margin: 0 auto;
	top: 35%;
	right: 0%;
	text-align: center;
	position: fixed;
	color: #CF0000;
	padding-left: 0px;
	text-shadow: 2px 2px 23px #000000;
	display: none;
	z-index: 28;
}

#exu_continuar a, #exu_play a {
	color: #CF0000;
	text-decoration: none;
}

#exu_play {
	font-size: 2.5em;
	width: 100%;
	margin: 0 auto;
	top: 35%;
	right: 0%;
	text-align: center;
	position: fixed;
	color: #CF0000;
	padding-left: 0px;
	text-shadow: 2px 2px 23px #000000;
	display: none;
	z-index: 28;
}


#exu_social {
	width: 100%;
	margin: 0 auto;
	top: 25%;
	left: 75%;
	position: fixed;
	/*text-align: center;*/
	color: #FF0000;
	padding-left: 0px;
	text-shadow: 2px 2px 23px #000000;
	z-index: 22;
}

.btn-lg {
    font-size: 2.3em;
    color: #FFF;
}

/* Side Menu */

#sidebar-wrapper {
  margin-right: -60px;
  right: 60px;
  width: 60px;
  /*background: #000;*/
  /*background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.22);*/
  background: url('../../../img/help.png') no-repeat scroll 40% 93% rgba(0, 0, 0, 0.22);
  /*background-position: 40% 95%;*/
  position: fixed;
  height: 103%;
  overflow-y: auto;
  z-index: 9999;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-box-shadow: 3px 0px 36px -1px rgba(0,0,0,0.75);
  -moz-box-shadow:  3px 0px 36px -1px rgba(0,0,0,0.75);
  box-shadow:  3px 0px 36px -1px rgba(0,0,0,0.75);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0px;
  right: 0px;
  position: fixed;
  z-index: 9998;
  color: #FFF;
  font-size: 3em;
  display: none;
}

#sidebar-wrapper.active {
  right: 0px;
  width: 60px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* animations logo */
/*@-webkit-keyframes logoAnimation {
from { -webkit-transform: rotate(0deg) scale(0.5) skew(-180deg) translate(0px); }
to { -webkit-transform: rotate(0deg) scale(1.0) skew(-180deg) translate(0px); }
}
@-moz-keyframes logoAnimation {
from { -moz-transform: rotate(0deg) scale(0.5) skew(-180deg) translate(0px); }
to { -moz-transform: rotate(0deg) scale(1.0) skew(-180deg) translate(0px); }
}
@-o-keyframes logoAnimation {
from { -o-transform: rotate(0deg) scale(0.5) skew(-180deg) translate(0px); }
to { -o-transform: rotate(0deg) scale(1.0) skew(-180deg) translate(0px); }
}
